@font-face{font-family:Calligraffitti;font-style:normal;font-weight:400;src:local('Calligraffitti'),local('Calligraffitti-Regular'),url(https://fonts.gstatic.com/s/calligraffitti/v7/vLVN2Y-z65rVu1R7lWdvyF9q9cSakIY5dTu4rft1WBw.ttf) format('truetype')}
@-webkit-keyframes s{0%{stroke-dasharray:0 300}
100%{stroke-dasharray:300 0}
}
@keyframes s{0%{stroke-dasharray:0 300}
100%{stroke-dasharray:300 0}
}
@-webkit-keyframes f{0%{-webkit-transform:translateY(-40px);transform:translateY(-40px);opacity:.5}
50%{-webkit-transform:scale(1.5);transform:scale(1.5);opacity:.1}
100%{-webkit-transform:translateY(50vh);transform:translateY(50vh);opacity:0}
}
@keyframes f{0%{-webkit-transform:translateY(-40px);transform:translateY(-40px);opacity:.5}
50%{-webkit-transform:scale(1.5);transform:scale(1.5);opacity:.1}
100%{-webkit-transform:translateY(50vh);transform:translateY(50vh);opacity:0}
}
html{height:100%}
body{font-family:Calligraffitti;height:100%;scroll-behavior:smooth}
svg{width:94%;height:100%;position:absolute}
.Christmas,.Merry{fill:none;stroke:#fff;text-shadow:0 0 14px #a32300;stroke-width:4;stroke-dasharray:0 100;text-anchor:middle}
.Merry{font-size:70px}
.Merry tspan:nth-child(1){-webkit-animation:s 2s 1s linear forwards;animation:s 2s 1s linear forwards}
.Merry tspan:nth-child(2){-webkit-animation:s 2s 2s linear forwards;animation:s 2s 2s linear forwards}
.Merry tspan:nth-child(3){-webkit-animation:s 2s 3s linear forwards;animation:s 2s 3s linear forwards}
.Merry tspan:nth-child(4){-webkit-animation:s 2s 4s linear forwards;animation:s 2s 4s linear forwards}
.Merry tspan:nth-child(5){-webkit-animation:s 2s 5s linear forwards;animation:s 2s 5s linear forwards}
.Merry tspan:nth-child(6){-webkit-animation:s 2s 6s linear forwards;animation:s 2s 6s linear forwards}
.Merry tspan:nth-child(7){-webkit-animation:s 2s 7s linear forwards;animation:s 2s 7s linear forwards}
.Merry tspan:nth-child(8){-webkit-animation:s 2s 8s linear forwards;animation:s 2s 8s linear forwards}
.Merry tspan:nth-child(9){-webkit-animation:s 2s 9s linear forwards;animation:s 2s 9s linear forwards}
.Merry tspan:nth-child(10){-webkit-animation:s 2s 10s linear forwards;animation:s 2s 10s linear forwards}
.Merry tspan:nth-child(11){-webkit-animation:s 2s 11s linear forwards;animation:s 2s 11s linear forwards}
.Merry tspan:nth-child(12){-webkit-animation:s 2s 12s linear forwards;animation:s 2s 12s linear forwards}
.Merry tspan:nth-child(13){-webkit-animation:s 2s 13s linear forwards;animation:s 2s 13s linear forwards}
.Merry tspan:nth-child(14){-webkit-animation:s 2s 14s linear forwards;animation:s 2s 14s linear forwards}
.Merry tspan:nth-child(15){-webkit-animation:s 2s 15s linear forwards;animation:s 2s 15s linear forwards}
.Christmas{font-size:64px;stroke-width:6}
.Christmas tspan:nth-child(1){-webkit-animation:s 2s 16s linear forwards;animation:s 2s 16s linear forwards}
.Christmas tspan:nth-child(2){-webkit-animation:s 2s 17s linear forwards;animation:s 2s 17s linear forwards}
.Christmas tspan:nth-child(3){-webkit-animation:s 2s 18s linear forwards;animation:s 2s 18s linear forwards}
.Christmas tspan:nth-child(4){-webkit-animation:s 2s 19s linear forwards;animation:s 2s 19s linear forwards}
.Christmas tspan:nth-child(5){-webkit-animation:s 2s 20s linear forwards;animation:s 2s 20s linear forwards}
.Christmas tspan:nth-child(6){-webkit-animation:s 2s 21s linear forwards;animation:s 2s 21s linear forwards}
.Christmas tspan:nth-child(7){-webkit-animation:s 2s 22s linear forwards;animation:s 2s 22s linear forwards}
.Christmas tspan:nth-child(8){-webkit-animation:s 2s 23s linear forwards;animation:s 2s 23s linear forwards}
.Christmas tspan:nth-child(9){-webkit-animation:s 2s 24s linear forwards;animation:s 2s 24s linear forwards}
.Christmas tspan:nth-child(10){-webkit-animation:s 2s 25s linear forwards;animation:s 2s 25s linear forwards}
.Christmas tspan:nth-child(11){-webkit-animation:s 2s 26s linear forwards;animation:s 2s 26s linear forwards}
.Christmas tspan:nth-child(12){-webkit-animation:s 2s 27s linear forwards;animation:s 2s 27s linear forwards}
.Christmas tspan:nth-child(13){-webkit-animation:s 2s 28s linear forwards;animation:s 2s 28s linear forwards}
.Christmas tspan:nth-child(14){-webkit-animation:s 2s 29s linear forwards;animation:s 2s 29s linear forwards}
.Christmas tspan:nth-child(15){-webkit-animation:s 2s 30s linear forwards;animation:s 2s 30s linear forwards}
.Christmas tspan:nth-child(16){-webkit-animation:s 2s 31s linear forwards;animation:s 2s 31s linear forwards}
.Christmas tspan:nth-child(17){-webkit-animation:s 2s 32s linear forwards;animation:s 2s 32s linear forwards}
.Christmas tspan:nth-child(18){-webkit-animation:s 2s 33s linear forwards;animation:s 2s 33s linear forwards}
tspan{color:#a32300}