html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #eee;
}
.input-form {
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 100;
}
#inputUrl {
    padding: 10px;
    width: 50%;
    border-radius: 15px;
    background: #ccc;
    opacity: 0.5;
    font-size: 20px;
    color: #000;
    text-align: center;
    font-weight: bold;
    border: none;
}
#inputUrl:focus{
    border: none;
}

.pic-div{
    text-align: center;
	height: 100%;
	position: relative;
}

.btn-form {
    position: absolute;
    width: 100%;
    bottom: 15px;
}
.btn-form a{
    cursor: pointer;
    background: #eee;
    margin: 0 10px;
    border-radius: 10px;
    color: #838383;
    font-size: 35px;
    opacity: 0.7;
    padding: 5px;
}
.btn-form a i{
	line-height: 40px;
    
}
.btn-form .reset {
	position: absolute;
	left: 47%;
	bottom: 0;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 20px;
	font-size: 45px;
	opacity: 0.3;
}




@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492862545255'); /* IE9*/
  src: url('iconfont.eot?t=1492862545255#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492862545255') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492862545255') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492862545255#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rotate:before { content: "\e6c8"; }

.enlarge:before { content: "\e6e6"; }

.narrow:before { content: "\e6e7"; }

.save:before { content: "\e6a2"; }
